@tailwind base;
@tailwind components;
@tailwind utilities;

.body-image {
  /* DO NOT REMOVE THESE COMMENTS 👇🏻 */
  /* background: url("https://i.pinimg.com/236x/1e/66/10/1e66103f355a5ec5b34a5a2ff1996b7b.jpg"); */
  /* background: url("https://i.pinimg.com/236x/38/83/d2/3883d23846a6925fb9f3f6f67aa7ebcd.jpg"); */
  /* background: url("https://i.pinimg.com/236x/bb/41/67/bb416797d79cac1b174092c5344ad911.jpg"); */
  /* background: url("https://i.pinimg.com/236x/ef/cf/b6/efcfb6c677247cdc42b0fea3d0778e21.jpg"); */
  /* background: url("../public/Background.jpeg"); */
  background: #000;
  background-size: cover;
  background-position: center;
}

body::-webkit-scrollbar {
  display: none;
}

.hidden {
  bottom: 0px;
}

/* Button */
.bookNow-btn {
  padding: 1.3em 3em;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}

.bookNow-btn:hover {
  background-color: #23c483;
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  color: #fff;
  transform: translateY(-7px);
}

.bookNow-btn:active {
  transform: translateY(-1px);
}
